{:itonami.blueprint/id "cloud-itonami-9900"
 :itonami.blueprint/name "Community Mission Operations Support"
 :itonami.blueprint/isic-rev5 "9900"
 :itonami.blueprint/domain :public/extraterritorial-mission-support
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:diplomatic-access :aid-delivery :transparency]
 :itonami.blueprint/governor :mission-operations-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger]
 :itonami.blueprint/optional-technologies [:optimization]
 :itonami.blueprint/status :public-oss}
