{:kotoba.app/id "cloud.itonami.isic-9900", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreieo4w32zrgsu3y3gkqwy4gfyrsvdntgkcdu6vjcbcfbgnc2t6jpai", :kotoba.app/embed-url "ipfs://bafkreieo4w32zrgsu3y3gkqwy4gfyrsvdntgkcdu6vjcbcfbgnc2t6jpai", :published {:archive "https://kotobase.net/ipfs/bafkreieo4w32zrgsu3y3gkqwy4gfyrsvdntgkcdu6vjcbcfbgnc2t6jpai", :size 72610, :put-status 201, :get-status 200, :at "2026-08-15T13:28:49.662Z"}}
